body {padding-top: 50px;}
.well{height: 400px;}
.img-me {
  -moz-border-radius: 100px; 
  -webkit-border-radius: 100px; 
  border-radius: 100px;
  border: 5px solid #FCB614;
  height: 120px;
  width: 120px;
  position:absolute;
}
.head {text-align: center;}